html, body {
  width: 100px;
}

.elem  {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: default;
}

.button {
  cursor: pointer;
}

.display {
  background-color: #E5F2F2;
}

.display {
  background-color: #E5F2F2;
}

.start {
  background-color: #c6f0d6;
}

.start:hover {
  background-color: #aed3bc;
}

.pause {
  background-color: #ecbbbb;
}

.pause:hover {
  background-color: #c59d9d;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}